.contact-filter {
    label {
        font-size: rem(23px);
        color: $pink;
        @include flex;
        input {
            height: 25px;
            margin-inline-start: rem(15px);
            width: 200px;
            justify-self: center;
            border-radius: 3px;
            border: none;
            transition: box-shadow 0.3s;
            &:focus {
                outline: none;
                box-shadow: 0px 0px 8px 2px $pink;
            }
        }
    }
}