.contact-preview {
    @include flex(column);
    background-color: lighten(#080b1e, 5%);
    padding: rem(15px);
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        img {
            border-color: $bitcoin;
            transform: scale(1.15);
        }
    }
    img {
        width: 170px;
        border: 5px solid transparent;
        border-radius: 50%;
        justify-self: center;
        margin-block-end: rem(10px);
        transition: all 0.3s;
    }
    h2 {
        margin-block-start: rem(10px);
        border-top: 4px solid $bitcoin;
        padding-block: rem(10px);
        font-size: rem(18px);
    }
}