.contact-details {
    margin-block-start: rem(20px);
    @include flex(column);
    h1 {
        font-size: rem(50px);
        margin-block-start: rem(10px);
        border-top: 4px solid $bitcoin;
        padding-block: rem(10px);
    }
    img {
        width: 300px;
    }
    h2 {
        margin: rem(15px);
        span {
            color: $pink;
        }
    }
    .exit {
        cursor: pointer;
        color: $bitcoin;
        position: absolute;
        font-size: rem(70px);
        left: 50px;
        top: 200px;
        transform: scaleX(-1);
    }
}

.transfer-fund {
    margin-block-start: rem(20px);
    p {
        padding: rem(10px);
        text-align: center;
    }
    label {
        margin: rem(15px);
        font-size: rem(24px);
        font-family: inter-bold;
        input {
            margin-inline-start: rem(10px);
            background: none;
            width: 50%;
            color: $white;
            font-size: rem(24px);
            border: none;
            border-bottom: 2px solid $pink;
            &:focus {
                outline: none;
            }
        }
    }
    button {
        @include button;
        @include title-gradiant;
        border: 2px solid white;
    }
}
.move-list {
    margin-block-start: rem(20px);
}