.home-page {
  overflow: hidden;
  @media (max-width: 900px) {
    flex-direction: column;
    padding-block-start: rem(10px)
  }
  @include flex;
  padding-block-start: rem(80px);
  > * {
    flex-basis: 50%;
    @include flex(column, center, flex-start);
  }
  .home-intro {
    .btc-animation {
      margin: rem(-50px) auto 0 auto;
      @media (max-width: 900px) {
        margin: rem(-100px) auto 0 auto;
        div {
          width: 450px !important;
        }
      }
    }
    h1 {
      align-self: center;
      font-size: rem(80px);
      margin: rem(15px) 0;
      @include title-gradiant;
      @media (max-width: 900px) {
        font-size: rem(35px);
        margin-block-start: rem(40px);
      }
    }
    h2 {
      align-self: center;
      @include title-gradiant;
      font-family: inter-black;
      font-size: em(27px);
      margin-block-end: rem(15px);
      @media (max-width: 900px) {
        font-size: rem(20px);
      }
    }
  }
  .user-content {
    h2 {
        font-size: rem(25px);
        margin: rem(25px) 0;
    }      
    align-self: flex-start;
    li {
      .coin {
        color: rgb(79, 224, 79);
      }
      .bitcoin {
        color: $bitcoin;
      }
      i {
        font-size: em(18px);
      }

      @include flex(row, flex-start);
      gap: rem(20px);
      margin-block-end: rem(15px);
      font-size: rem(20px);
    }
  }
}
